---
import Layout from '../layouts/Layout.astro'
import Header from '../components/header.astro'
import QueHacemos from '../components/que-hacemos.astro'
import {empresasTrabajos} from '../info/empresas-trabajos'
---

<Layout title="Trabajos Agrícolas Hernández | Especialistas en nivelación">
	<main class="text-center">
		<section class="h-screen">
			<Header />
			<video 
			class="z-[-1] absolute w-full h-full top-0 left-0 object-cover"
			autoplay muted loop 
			src="https://trabajosagricolashernandez.com/wp-content/uploads/2021/06/video-cabecera-1.mp4" />
			<div class="mt-20 text-white">
				<h1 class="text-5xl font-bold">Trabajos Agrícolas Hernández</h1>
				<h2 class="text-xl font-semibold mt-2">Especialistas en servicios de nivelación, preparación de terrenos y construcción de balsas.</h2>
			</div>
		</section>
		<section class="flex gap-5 justify-around mx-auto max-w-6xl mt-10">
			{empresasTrabajos.map(({img, name, province, time}) => (
				<div class="max-w-xs">
					<img class="w-[300px] mx-auto" src={img.src} alt={`logo de empresa ${name}`}>
					<h1 class="text-3xl">{province}</h1>
					<h2 class="text-lg text-opacity-75">Trabajando juntos desde hace más de {time}</h2>
				</div>
			))}
		</section>
		<QueHacemos />
	</main>
</Layout>